body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}
img{
  margin: auto;
  display: block;
}
nav {
  text-align: center;
}
a:link {
padding-left: 10px;
padding-right: 10px;
}
figcaption {
  text-align: center;
  font-size: medium;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}

